<!-- sidebar.html -->
<div class="sidebar-panel">
    <div class="main-icon">
        <a href="#"><i data-feather="grid" class="bar-icon"></i></a>
    </div>
    <ul class="sidebar-icon">
        <li>
            <a href="../../index.html"><i data-feather="file" class="bar-icon"></i><div class="tooltip-cls"><span>newsfeed</span></div></a>
        </li>
        <li>
                            <a href="pages/single-page.html"><i data-feather="star" class="bar-icon"></i><div class="tooltip-cls"><span>Favourite</span></div></a>
        </li>
        <li>
            <a href="#"><i data-feather="users" class="bar-icon"></i><div class="tooltip-cls"><span>Groups</span></div></a>
        </li>
        <li>
            <a href="pages/event.html"><i data-feather="calendar" class="bar-icon"></i><div class="tooltip-cls"><span>Event</span></div></a>
        </li>
        <li>
            <a href="pages/birthday.html">
                <svg class="bar-icon fill-white"><use xlink:href="../assets/svg/icons.svg#cake"></use></svg>
                <div class="tooltip-cls"><span>Birthday</span></div>
            </a>
        </li>
    </ul>
    <div class="main-icon">
        <a href="#"><i data-feather="power" class="bar-icon"></i></a>
    </div>
</div>
