<!-- video-modal.html -->
<div class="modal fade bd-example-modal-lg" id="videoPlayer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body video-model">
                <iframe class="video" src="https://www.youtube.com/embed/TKnufs85hXk"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
